@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
    color-scheme: dark;
    scrollbar-width: none;
}

.customShadow {
    box-shadow: 0 0 70px rgba(8, 7, 13, 1);
}